
/* TriviaQuestion.css */
.trivia-question {
    background-color: #292929;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #ccc;
    margin: 20px;
}

.question-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.answer-options {
    display: flex;
    flex-direction: column;
}

.answer-option {
    margin-bottom: 8px;
}

.option-text {
    font-size: 18px;
    margin-left: 5px;
}

.result-text {
    font-size: 16px;
    margin-top: 10px;
}

/* TriviaQuestion.css */
.correct-question {
    background-color: #003300;
    /* Dark green */
}

.incorrect-question {
    background-color: #330000;
    /* Dark red */
}

.correct-question {
    background-color: #003300;
    /* Dark green */
}

.incorrect-question {
    background-color: #330000;
    /* Dark red */
}